@import url('css/container.css');
@import url('css/footer.css');
@import url('css/project.css');


li {
    margin-bottom: 1rem;
}
.title {
    font-size: 20px;
}
/* about */
.about-pitch, .bio {
    grid-column: 1 / span 2;
}
.fact-list {
    grid-column: 3 / span 2;
}

.quote {
    text-align: center;
    font-style: italic;
    padding: 30px;
    color:rgb(179, 179, 179);
}

.larger {
    font-size: 1.15em;
}

html {
    scroll-behavior: smooth;
}
