@import url('css/container.css');
@import url('Footer/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); 




.title {
    font-size: 20px;
    letter-spacing: 0.01rem;
}
/* about */
.about-pitch {
    grid-column: 1 / span 2;
}
.fact-list {
    grid-column: 3 / span 2;
}

.quote {
    text-align: center;
    font-style: italic;
    padding: 30px;
    color:rgb(179, 179, 179);
}

html {
    scroll-behavior: smooth;
}
